{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
				<h2 class="title mb-5">Bienvenido a WebMessages</h3>
				<div class="item mb-5">
					<div class="intro">
						<ul>
							<li><p class="title mb-5">Si no se ha registrado aún puede hacerlo dando clic en la sección <b>'Registrarse'</b></p></li>							
							<li><p class="title mb-5">Si quiere conocer más acerca del sitio acceda a la sección <b>'Acerca de'</b></p></li>
							<li><p class="title mb-5">También puede visitar los perfiles de los usuarios del sitio en la sección <b>'Perfiles'</b></p></li>
						</ul>
					</div>
			    </div>
		    </div>
	    </section>
{% endblock %}