<!-- Template obligatorio para el uso de recuperación de contraseña -->
<!-- Página de confirmación de recuperación de contraseña que va a heredar de base.html -->
{% extends 'core/base.html' %}
<!-- Se cargan los ficheros static -->
{% load static %}
<!-- Se define el nombre del titulo que se va a mostrar en el head de la página -->
{% block title %}Escriba la nueva contraseña{% endblock %}
<!-- Contenido variable de la página -->
{% block content %}
  <!-- Se define el estilo css que va a tener el texto del mensaje en caso de erro (en este caso: color rojo) -->
  <style>.errorlist{color:red;}</style>
  <main role="main">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-9 mx-auto mb-5">
          <!-- Se comprueba si el enlace aún es valido (si no se ha restablecido ya la contraseña, se ha usado correctamente 
          el inicio de sesión con ese usuario o se ha vencido el tiempo de recuperación de contraseña del enlace) -->
          {% if validlink %}
            <form action="" method="post">{% csrf_token %}
              <h3 class="mb-4">Escriba la nueva contraseña</h3>
              <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
              <!-- Campo para la contraseña nueva, con errores de tenerlos -->
              {{form.new_password1.errors}}
              <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña"></p>
              <!-- Campo para la confirmación de contraseña nueva, con errores de tenerlos -->
              {{form.new_password2.errors}}
              <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña"></p>
              <!-- Botón para realizar los cambios -->
              <p><input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña"></p>
            </form>
          {% else %}
            <!-- Mensaje de error en la recuperación de contraseña -->
            <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
            <!-- Enlace para solicitar una vez más la recuperación de contraseña -->
            <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}