<!-- Texto del email que recibirá al restablecer la conraseña -->
Ha recibido este correo electrónico porque ha solicitado restablecer la contraseña para su cuenta en 'Nombre del Sitio'.

Por favor, vaya a la página siguiente y escoja una nueva contraseña.
<!-- Bloque donde se genera el enlace de restablecimiento de contraseña -->
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Su nombre de usuario, en caso de que lo haya olvidado: {{ user.get_username}}

¡Gracias por usar nuestro sitio!

El equipo de 'Nombre del Sitio'